<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet (  ) -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/"><font color="black">Jenna T. B. Ekwealor</font></a></li>
	        	<li><a href="/about">About</a></li>
            	<li><a href="/research">Research</a></li>
            	<li><a href="/publications">Publications</a></li>
            	<li><a href="/contact">Contact</a></li>
        		<li><a href="/cv/CV_2019_J_Baughman.pdf" target="_blank">CV</li>        		
        		<li><a href="/photography">Photography</a></li>
        		<li><a href="https://bryophytingbiologist.wordpress.com" target="_blank">Blog</a></li>
        		
    		</ul>
		</nav>
		<div class="container">
    		
			{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jtbe@berkeley.edu">email</a></li>
        		<li><a href="https://github.com/jenna-tb-ekwealor">github.com/jenna-tb-ekwealor</a></li>
			</ul>
		</footer>
	</body>
</html>
